<mat-toolbar>
    <mat-toolbar-row>
        <nav>
            <div xFlex fxLayout="row" fxLayoutAlign="flex-start" fxLayoutGap="5px"> 
                <a routerLink="/" mat-raised-button>Dashboard</a>
                <a routerLink="/jobs" mat-raised-button >Jobs</a>
                <a routerLink="/messages" mat-raised-button >Messages</a>
                <a routerLink="/projects" mat-raised-button >Projects</a>
                <a routerLink="/admin" mat-raised-button >Administration</a>
                <a routerLink="/about" mat-raised-button >About Us</a>
            </div>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>