<mat-toolbar>
    <mat-toolbar-row>
        <nav>
            <div xFlex fxLayout="row" fxLayoutAlign="flex-start" fxLayoutGap="5px"> 
                <a routerLink="/" mat-raised-button>Dashboard</a>
                <button mat-raised-button [matMenuTriggerFor]="jobsmenu">Jobs</button>
                <mat-menu #jobsmenu="matMenu">
                    <a mat-menu-item routerLink="/jobs">
                        Job Board
                    </a>
                    <a mat-menu-item routerLink="/jobs">
                        Job Search
                    </a>
                </mat-menu>
                <button mat-raised-button [matMenuTriggerFor]="Messagesmenu">Messages</button>
                <mat-menu #Messagesmenu="matMenu">   
                    <a mat-menu-item routerLink="/messages" >
                        Messages Board
                    </a>
                    <a mat-menu-item routerLink="/jobs">
                        Message Inbox
                    </a>
                    <a mat-menu-item routerLink="/jobs">
                        Message Sent
                    </a>
                </mat-menu>
                <button mat-raised-button [matMenuTriggerFor]="Projectmenu">Projects</button>
                <mat-menu #Projectmenu="matMenu">   
                    <a mat-menu-item routerLink="/projects">
                        Project Board
                    </a>
                    <a mat-menu-item routerLink="/jobs">
                        Project Manager
                    </a>
                    <a mat-menu-item routerLink="/jobs">
                        Project Creation
                    </a>
                </mat-menu>
                <a mat-raised-button routerLink="/admin">Administration</a>
                <a mat-raised-button routerLink="/about">About Us</a>
            </div>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>